@media screen and (max-width: 339px) {
    .container {
        width: 300px !important;
    }

    .team__wrap__item {
        width: 300px;
    }

    .intro__wrap__header__author__name {
        width: 240px;
    }

}